fastapi
uvicorn
psycopg[binary,pool]
python-dotenv
supabase
openai
PyPDF2
python-docx
chardet
email-validator
pydantic
autumn-py
resend
langchain
langgraph
langchain_core
langgraph-checkpoint-postgres
langchain-openai

